<!DOCTYPE html>
<html ng-app="commentBoxApp">
    <head>
        <title>Hello Angular</title>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.0.2/css/foundation.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.5/angular.min.js"></script>
        <script src="//code.jquery.com/jquery-1.10.0.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
        <script src="/build/ng-comment-app.js"></script>
    </head>
    <body>
        <nav class="top-bar" data-top-bar>
          <ul class="title-area">
            <li class="name">
              <h1><a href="#">Hello Angular</a></h1>
            </li>
          </ul>
        </nav>

        <div class="row">
           <div class="large-12 columns">
                <div id="content">
                  <div class="commentBox" ng-controller="CommentBoxCtrl">
                    <h1>Mello, world! I am a CommentBox. <small><small>{{'yet' + '!'}}</small></small></h1>

                    <div class="commentList">
                       <div class="comment" ng-repeat="comment in comments">
                         <h3 class="commentAuthor">{{comment.author}}</h3>
                         <p>{{comment.text | markdown}}</p>
                       </div>
                    </div>

                    <fieldset>
                      <legend>Add a comment</legend>
                      <form class="commentForm">
                        <input type="text" placeholder="Your name (required)" required>
                        <input type="text" placeholder="Say something... (required)" required>
                        <input class="button radius" type="submit" value="Post">
                      </form>
                    </fieldset>
                </div>
            </div>
        </div>
    </body>
</html>
